.content1{
    width:600px;
    height:300px;
    background-color:rgb(203, 203, 191);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p1{
    width:180px;
    height:30px;
    background-color:rgba(176, 37, 37, 0.852);
    color:white;
    margin-left:8px;
    border:none;
    border-radius:5px;
    margin: 10px;
}
.p2{
    border:none;
    border-radius:5px;
    border:rgb(203, 203, 191)solid;
    width:180px;
    height:30px;
}
img{
    vertical-align: middle;

}
